                
@font-face
{   font-family: os;
    src: url('../fonts/ostrich-regular.ttf');
}

@font-face
{   font-family: droid;
    src: url('../fonts/DroidSans.ttf');
}

@font-face
{   font-family: DB;
    src: url('../fonts/DroidSans-Bold.ttf');
}

@font-face
{   font-family: PT;
    src: url('../fonts/PT_Sans-Web-Regular.ttf');
}

@font-face
{   font-family: PTB;
    src: url('../fonts/PT_Sans-Web-Bold.ttf');
}

.navbar-brand {
    color: #333333;
    font-size: 19px;
    letter-spacing: 7px;
    margin-left: 36px;
    padding-top: 23px;


}

.navbar-brand {
    color: #333333;
    font-family: OS;
    font-size: 20px;
    letter-spacing: 7px;
    margin-left: 36px;
    padding-top: 25px;
}


#top_menu{

    box-shadow: 0px 0px 20px black;
    margin-top: 0;
}

#top_menu {
    box-shadow: 0 0 20px -8px #202020;
}

#cover_area{
    text-align: center;padding-bottom: 10px;
}



body{
    font-family: droid;
    /*padding-top:70px;*/
    margin: 0;
}

#footer{
    background: #252422;
    margin-top: 0px;
    padding-top:20px;
    color:#8f8f8f;
}

#footer a {
    color: #AFAFAF;
    font-family: pt;
    letter-spacing: 0;
    text-shadow: 0 1px 0 #000000;
    text-transform: uppercase;
}

#copyright{text-align: center;border-top:solid 1px silver}

.carousel .item {-webkit-transition: opacity 3s; -moz-transition: opacity 3s; -ms-transition: opacity 3s; -o-transition: opacity 3s; transition: opacity 3s;}
.carousel .active.left {left:0;opacity:0;z-index:2;}
.carousel .next {left:0;opacity:1;z-index:1;}

.pageblock{
    text-align: center;
}

h1{
    font-family: db;
}

h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: pt;
    font-weight: 500;
    line-height: 1.1;
}
.service_section{
    min-height: 100%;
    margin-top:0px;
    text-align: center;
    background:#333;
    position: relative;
    padding-top:60px;
}

.index_section{
    min-height: 100%;
    margin-top:0px;
    text-align: center;
    background:white;
    position: relative;
    padding-top:60px;
}

.section-icon {
    background-color: #21B799;
    border-radius: 50% 50% 50% 50%;
    display: inline-block;
    height: 80px;
    overflow: hidden;
    font-size: 50px;
    text-align: center;
    width: 80px;
    z-index: 201;
    position:relative;
    margin-top:-42px;
}

.index_section .item .icon {
    background: none repeat scroll 0 0 #F5F5F5;
    border-radius: 50% 50% 50% 50%;
    height: 160px;
    margin: 0 auto 40px;
    width: 160px;
    font-size:50px;
    text-align: center;
    vertical-align: middle;
    line-height: 120px;
}

.index_section .item .icon:hover {
    opacity: 1;
    transform: scale(1);
    transition: all 0.4s ease-out 0s;
}

#index_welcome h1{
    text-shadow:0 0 18px #000000, 1px 1px 1px #000000;
}

#index_welcome{
    padding-top: 220px;
    height:600px;
    color:white;
    text-align:center;
    position:relative;
}


.top-nav-a{
    font-size:14px;
    font-family: pt;
    font-weight: 200;
    color:#999;
    letter-spacing: 0px;
}

.index_section_border{

    background: brown;
    height:80px;
    top:-80px;
    opacity:0.3;
    z-index: 13;
    position:absolute;
    width:100%;
    left:0px;
}

.well {
    background-color: white;
    border: 0px solid #E3E3E3;
    border-radius: 4px;
    box-shadow: none;
    /*        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;*/
    margin-bottom: 20px;
    min-height: 20px;
    padding: 0;
}

.btn-lg {
    /*    color: #FFA500;*/
    font-family: pt;
    text-shadow: 0 1px 1px #606060;
    transition: all 0.2s ease-in-out 0s;
}

.btn-viewdemo {
    background-color: rgba(200, 200, 200, 0.26);
    border: 1px solid #8F8F8F;
    border-radius: 0;
    box-shadow: 0 2px 2px -2px #333333, -1px -1px 7px -2px #636363 inset;
    color: #FFFFFF;
    display: inline-block;
    font-family: PT;
    font-size: 16px;
    padding: 20px 40px;
    text-transform: uppercase;
    transition: all 0.1s ease-in-out 0s;
}

.btn-viewdemo:hover {
    background-color: rgba(200, 200, 200, 0.46);
    box-shadow: none;
    color: #FFC57F;
}

.btn-outline {
    border-radius: 0;
    box-shadow: 0 2px 3px -2px #333333;
    color: #585858;
    margin: 2px;
    text-shadow: 0 1px 0 #FFFFFF;
    transition: all 0.1s ease-in-out 0s;
}

.btn-outline:hover{
    background-color: #F7F7F7;
    box-shadow: 0 1px 2px -2px #333333;
}

.icon {
    background: none repeat scroll 0 0 #80C080;
    border-radius: 50%;
    box-shadow: 0 0 0 4px #C0EFC0;
    color: #FFFFFF;
    font-size: 50px;
    height: 250px;
    line-height: 120px;
    margin: 0 auto 40px;
    text-align: center;
    vertical-align: middle;
    width: 250px;
}

/*.col-lg-6 {
    padding-bottom: 40px;
}*/

.service_back{
    background: #EFEFEF;
    /*    background: -moz-linear-gradient(top,  #49615d 40%, #35443d 99%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(40%,#49615d), color-stop(99%,#35443d));
        background: -webkit-linear-gradient(top,  #49615d 40%,#35443d 99%);
        background: -o-linear-gradient(top,  #49615d 40%,#35443d 99%);
        background: -ms-linear-gradient(top,  #49615d 40%,#35443d 99%);
        background: linear-gradient(to bottom,  #49615d 40%,#35443d 99%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49615d', endColorstr='#35443d',GradientType=0 );*/

    background-size: 100% 160%;
    color: #5F5F5F;
}

.btn-success {
    background-color: #80C080;
    border-color: transparent;
    color: #FFFFFF;
    text-shadow: 0 1px 0 #70B070;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
    background-color: #90D090;
    border-color: transparent;
    color: #FFFFFF;
    text-shadow: none;
}

.bounce{
    transition: all 0.4s ease-in-out 0s;
}

.bounce:hover{
    box-shadow: 0 0 0 25px #333;
    transition: all 0.4s ease-in-out 0s;
    background-color: #FFAA3E;
    text-decoration: blink;
    color: #333;
}

a:hover{text-decoration: blink;}

.clip{
    opacity: 0.3;
    transition: all 0.2s ease-in-out 0s;
}

.clip:hover{
    opacity: 1;
    transition: all 0.2s ease-in-out 0s;
}

.thumbnail{border:none; background:transparent}

.thumbnailmo {
    background: none repeat scroll 0 0 #303030;
    border: medium none;
    border-radius: 0;
    color: #CCCCCC;
    display: block;
    height: auto;
    line-height: 1.429;
    max-width: 100%;
    min-height: 425px;
    padding: 60px;
    transition: all 0.2s ease-in-out 0s;
}

.slide{
    width: 100%;

}

.navbar-default .navbar-nav > li > a {
    color: #656565;
    /*    text-shadow: 0 1px 0 #DFDFDF;*/
    transition: all 0.2s ease-in-out 0s;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #959595;
    /*    text-shadow: 0 1px 0 #DFDFDF;*/
    transition: all 0.2s ease-in-out 0s;
}

.row .col-md-4 .thumbnail .widen {width: 60%;}

.form-control-sub {
    background-color: #303030;
    border: 1px solid #202020;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
    width: 100%;
}

.form-control-sub:focus {
    border-color: #80C080;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 233, 175, 0.6);
    outline: 0 none;
}
.logo {
    left: 25%;
    position: relative;
    /*    top: 30%;*/
    width: 40%;
}

.btn-trans {
    -moz-user-select: none;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    border-radius: 0;
    color: #656565;
    cursor: pointer;
    display: inline-block;
    font-family: pt;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    position: relative;
    text-align: center;
    top: 0;
    vertical-align: middle;
    white-space: nowrap;
}

/*.dropdown-menu {
    background-clip: padding-box;
    background-color: #F8F8F8;
    border: 0 solid rgba(0, 0, 0, 0.15);
    border-radius: 0;
    box-shadow: 1px 6px 6px 0 rgba(0, 0, 0, 0.176);
    display: none;
    float: left;
    font-size: 14px;
    left: 0;
    list-style: none outside none;
    margin: 2px 0 0;
    min-width: 160px;
    padding: 5px 0;
    position: absolute;
    top: 130%;
    z-index: 1000;
}*/

.dropdown-menu {
    background-clip: padding-box;
    background-color: #F8F8F8;
    border: 0 solid rgba(0, 0, 0, 0.15);
    border-radius: 0;
    box-shadow: 1px 0 10px 0 rgba(0, 0, 0, 0.176);
    display: none;
    float: right;
    font-size: 12px;
    left: 0;
    list-style: none outside none;
    margin: 2px 0 0;
    min-width: 340px;
    padding: 15px 30px;
    position: absolute;
    top: 100%;
    z-index: 1000;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #D0D0D0;
    color: #ffffff;
    text-decoration: none;
}

.nav .caret {
    border-top-color: #909090;
}

fd {
    color: #656565;
    font-family: pt;
    letter-spacing: -3px;
}

.bak {
    background-color: #000000;
    border-radius: 0px;
    box-shadow: 0 0 10px 0 #939393;
    color: #535353;
    opacity: 0.9;
    text-shadow: 0 1px 0 #000000;
    padding-bottom: 40px;
    position: none;
    left: 0;
    bottom: 0;
    width: 100%;
    right: 0;
}

.bak2 {
    background-color: #FF6347;
    border-radius: 0;
    bottom: 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
    color: #FFFFFF;
    left: 0;
    opacity: 0.8;
    padding-bottom: 40px;
    right: 0;
    text-shadow: 0 1px 0 #9F9F9F;
    width: 100%;
}

.bakmo {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0;
    top: 10px;
    color: #FFFFFF;
    left: 0;
    opacity: 1;
    padding-bottom: 0;
    right: 0;
    width: 100%;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    height: auto;
    line-height: 1;
    max-height: 620px;
    max-width: 100%;
}

.dropdown-menu > li > a {font-family:pt}

.clr{
    color: #333333;
    transition: all 0.2s ease-in-out 0s;
}

/*.clr:hover{
    color: #F1676C
}*/

a:hover{
    color:#F1676C
}

h7, .h7{
    font-size:18px;
}

h6, .h6 {
    font-size: 35px;
    padding: 40px;
    text-align: center;
    text-transform: uppercase;
}

.plogos{
    padding: 20px;
}

.sha{
    box-shadow: 0 0 0 0 #333;
}

.breakline {
    background-color: #EAEAEA;
    height: 1px;
    margin: 8px 0;
    overflow: hidden;
}

.flip{
    font-size: 30px;
    padding: 00px;
    text-align: left;
    text-transform: none; 
}

.navbar-nav > li > a {
    padding-bottom: 25px;
    padding-top: 25px;
}





#go_mobile { 
    background: url('../upload/images/volks.jpg') 50% 0 no-repeat fixed; 
    height: auto;
    padding-bottom:100px;
    margin: 0 auto; 
    width: 100%; 
    max-width: 1920px; 
    position: relative; 
    background-size:100%;
    /*    box-shadow: 0 0 50px rgba(0,0,0,0.8);*/
}
#native_platform { 
    background: url('../upload/images/city.jpg') 0 0 no-repeat fixed; 
    height: auto;
    padding-bottom:100px;
    margin: 0 auto; 
    width: 100%; 
    max-width: 1920px; 
    position: relative; 
    background-size:100%;
    /*    box-shadow: 0 0 50px rgba(0,0,0,0.8);*/
}

#web_based { 
    background: url('../upload/images/city2.jpg') 50% 0 repeat fixed; 
    height: auto;
    padding-bottom:100px;
    margin: 0 auto; 
    width: 100%; 
    max-width: 1920px; 
    position: relative; 
    background-size:100%;
    /*    box-shadow: 0 0 50px rgba(0,0,0,0.8);*/
}

.portfolio_slot {
    background-image: url("../upload/images/portback.jpg");
    border: 20px solid #F3F3EF;
    box-shadow: 2px 2px 4px 0 #D3D3D3;
    display: block;
    height: 400px;
    margin-bottom: 40px;
    overflow: hidden;
}

.shothover {
    background: none repeat scroll 0 0 #FF4500;
    display: inline-block;
    font-size: 50px;
    height: 400px;
    opacity: 0;
    position: relative;
    top: -440px;
    width: 100%;
    z-index: 90;
    transition: all .2s ease-in-out 0s;
}

.shothover:hover{
    cursor: pointer;
    opacity: 0.3;
}

.shotinner {
    background: none repeat scroll 0 0 #333333;
    border-radius: 50%;
    font-size: 50px;
    height: 70px;
    margin: auto;
    opacity: 0.5;
    position: relative;
    top: -680px;
    width: 150px;
}

.shotinner:hover{
    opacity: .9;
}

.buttonholder {
    position: relative;
    padding: 40px;
    margin: auto;
    width: 750px;
}

#popup {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #FF9550;
    border-radius: 0;
    box-shadow: -34px 2px 0 -12px #FF9550, -1px -1px 7px -2px #636363 inset;
    color: #FFFFFF;
    /*display: none;*/
    font-family: PT;
    font-size: 16px;
    left: 592px;
    padding: 20px;
    position: absolute;
    text-align: left;
    top: 27px;
    transition: all 0.1s ease-in-out 0s;
    width: 250px;
}

#popup-cms,#res-popup-cms {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0;
    color: #FFFFFF;
    /*display: none;*/
    font-family: PT;
    font-size: 14px;
    left: 76px;
    padding: 10px 20px;
    position: relative;
    text-align: center;
    top: 5px;
    transition: all 0.1s ease-in-out 0s;
    width: 248px;
}

#popup-art, #res-popup-art {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0;
    color: #FFFFFF;
    /*display: none;*/
    font-family: PT;
    font-size: 14px;
    padding: 10px 20px;
    position: absolute;
    right: 117px;
    text-align: center;
    top: 110px;
    transition: all 0.1s ease-in-out 0s;
    width: 265px;
}

.col-md-12.textbox > h3 {
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid #6F6F6F;
    border-radius: 30px;
    box-shadow: 1px 1px 2px 1px #000000 inset;
    color: #FFB347;
    margin: auto;
    padding: 40px;
    width: 1110px;
}

.col-md-12.textboxstore > h3 {
    background-color: rgba(100, 80, 80, 0.5);
    border-radius: 10px;
    color: #FFB347;
    margin: auto;
    padding: 40px;
    width: 1110px;
}

.col-md-12.textboxapp > h3 {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    color: #FFB347;
    margin: auto;
    padding: 40px;
    width: 1110px;
}

.col-md-12.textboxresp > h3 {
    background-color: rgba(0, 0, 30, 0.7);
    border: 0 solid #6F6F6F;
    border-radius: 30px;
    color: #FFB347;
    margin: auto;
    padding: 40px;
    width: 1110px;
}

.col-md-12.textboxmp > h3 {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    color: #FFB347;
    margin: auto;
    padding: 40px;
    width: 1110px;
}

/*#basket > a {
    background-color: #D8F581;
    border-radius: 0 15px 0 0;
    box-shadow: 0 2px 2px -2px #636363;
    color: #7F7F7F;
    font-family: db;
    padding: 5px 20px;
}*/

#basket > a {
    font-family: db;
}

.well-cstm {
    background-color: #D8F581;
    padding: 10px;
}

#firstli {
    background-color: #FBFBF7;
    box-shadow: 0 2px 9px -8px #333333;
    color: #D8F581;
    list-style: none outside none;
    margin: 1px;
    padding: 10px 15px;
}

#firstul ul {
    padding: 2px 20px;
}

#firstli > a {
    color: #777777;
    font-family: db;
    text-transform: uppercase;
}

#firstul a {
    font-family: db;
}

#firstul li a {
    font-family: db;
}

#secondul > li {
    font-size: 13px;
    padding: 3px;
}

#secondul li a {
    color: #42ABCA;
    font-family: droid;
}

#mobile_menu li .top-nav-a {
    font-size: 9px;
}

.mobile_logo {
    margin: 0 35%;
    text-align: center;
    width: 100%;
}

.port_tabs{
    text-align: center;
}

#footercontactinfo i {
    color: #BF5510;
}

#footercontactinfo a {
    color: #8F8F8F;
    text-transform: lowercase;
}

.fade{
    -webkit-transition: opacity 5s; /* For Safari 3.1 to 6.0 */
    transition: opacity 5s;
    opacity: 0;
}