<style>
    h1{font-size:60px; text-align:center;padding-top:40px;padding-bottom: 40px;}
    h3{font-size:25px; text-align:center;padding-bottom: 10px;}
    h4{font-size:24px; text-align:center;padding-top:30px;padding-bottom: 30px; color:#BFBFBF}
    .row .col-md-4 .thumbnail i.fa{color: #FFDEAD;font-size:200px;border-radius: 50%;padding: 50px;}
    .row .col-md-6 .thumbnailmo i.fa{font-size:200px;border-radius: 50%;}
    .col-md-6{padding-left:0;padding-right:0;}
    p{font-size:18px;}
</style>


<style type="text/css" media="screen">




    .carousel-caption {
        left:0;
        right: 0;

    }
    </style>




<div style="background:#1F2324">





    <div ng-controller="CarouselDemoCtrl">
        <div style="">
            <carousel interval="myInterval" no-wrap="noWrapSlides">
                <slide  active="slide.active">
                    <div>
                    <img class="slide" data-src="holder.js/960x500/auto/#666:#666" src="assets/upload/images/mobil1.jpg">
                    <div class="carousel-caption bakmo">
                        <h1 style="font-size: 80px;">Join the <b style="color: peru;letter-spacing: -8px;">REVOLUTION</b></h1>
                        <h3 style="color:burlywood">Hop on to the fastest bandwagon yet...</h3>
                    </div>
                    </div>
                </slide>


                <slide>
                    <div>

                    <img  alt="960x500" data-src="holder.js/960x500/auto/#666:#666" class="slide" src="assets/upload/images/mobil2.jpg">
                    <div class="carousel-caption bakmo">
                        <h1 style="font-size: 80px;">Applications on the <b style="color: #FFA500;letter-spacing: -8px;">GO</b></h1>
                        <h3 style="color:peachpuff">Take advantage of your mobility, anywhere...</h3>
                    </div>

                    </div>
                </slide>

            </carousel>
        </div>

    </div>













































    <section id="go_mobile" data-speed="4" data-type="background"  >
        <div class="container">
            <h1 id="mobile"><fd style="color:#CCCCCC">GO</fd> <b style="color:peru">MOBILE</b></h1>

            <br>

            <h4 >We have a team of expert developers for mobile platforms such as iOS, Android and Windows.</h4>
            <h4>The rise in the use of mobile devices has led many a developer to throw up their hands in frustration. Should a business require both a website and a mobile application? This report discusses why the future may be lie in HTML 5, CSS and JavaScript applications that work equally well on all mobile platforms.</h4>
            <br>
        </div>
    </section>




    <section id="native_platform" data-speed="10" data-type="background">
        <div class="container">
            <h1 id="native"><fd style="color:#FFDEAD">Native</fd> <b style="color:#333">Platforms</b></h1>

            <div class="row pageblock">

                <div class="col-md-4">
                    <div class="thumbnail">
                        <i class="fa fa-apple"></i>
                        <div class="caption">
                            <h3>iOS</h3>
                            <p style="color: #EFCE9D;text-shadow: 0 0 50px #AFAFAF;">Build apps for the highly stable iOS with the latest available in the hood.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="thumbnail">
                        <i class="fa fa-android" style=""></i>
                        <div class="caption">
                            <h3>ANDROID</h3>
                            <p style="color: #EFCE9D;text-shadow: 0 0 50px #AFAFAF;">A wider range of customizable apps for Android devices. Versatililty ranging from simple mp3 players to ticketing systems.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <i class="fa fa-windows" style=""></i>
                        <div class="caption">
                            <h3>WINDOWS</h3>
                            <p style="color: #EFCE9D;text-shadow: 0 0 50px #AFAFAF;">We build Windows based applications with increased fluidity and ease of use.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <section id="web_based" data-speed="10" data-type="background">
        <div class="container">
            <h1 id="webbase"><fd style="color:#CCCCCC">Web</fd> <b style="color:peru">Based</b></h1>

            <div class="row pageblock">

                <div class="col-md-8">



                    <div class="col-md-6">
                        <div class="">


                            <div class="caption">
                                <img src="assets/upload/images/pad.png" style="height:425px">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="thumbnailmo">


                            <div class="caption">
                                <h3>BUILT-IN BACKEND</h3>
                                <p>Our built-in backend is simple and user-friendly, yet extremely powerful! Customize your layouts, newsletters, images and image galleries, and much more! Take control!</p>
                                <p class="breakline"></p>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-md-4">

                    <div class="row" style="background:#101010;">
                        <div class="col-md-6" style="padding:0px;">
                            <div class="">


                                <div class="caption">
                                    <img src="assets/upload/images/mobclip2.png" style="width:100%">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="thumbnail">


                                <div class="caption">

                                    <p style="color:#9C9C9C;padding-top:10px;">We build according to how you think. Take advantage of intuitive webapps!</p>

                                </div>
                            </div>
                        </div>
                    </div>

                    <br>

                    <div class="row" style="background:#101010;">
                        <div class="col-md-6" style="padding:0px;">
                            <div class="">


                                <div class="caption">
                                    <img src="assets/upload/images/mobclip1.png" style="width:100%">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="thumbnail">


                                <div class="caption">

                                    <p style="color:#9C9C9C;padding-top:10px;">There are apps for virtually everything these days. There's even an app for you!</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>

</div>
<style>



</style>


<!--<script> {#TITLE TEXT ZOOM#}-->
<!--$(document).ready(function() {-->

    <!--var controller = $.superscrollorama();-->

    <!--// amount of scrolling over which the tween takes place (in pixels)-->
    <!--var scrollDuration = 200;-->
    <!--controller.addTween('#portfolio', TweenMax.fromTo($('#portfolio'), .2, {css: {backgroundColor: '#1F1A03'}, immediateRender: true, ease: Quad.easeInOut}, {css: {opacity: 1, backgroundColor: '#D1B113'}, ease: Quad.easeInOut}), 300);-->

    <!--controller.addTween('#mobile', TweenMax.fromTo($('#mobile'), .25, {css: {opacity: 0.8, fontSize: '60px'}, immediateRender: true, ease: Quad.easeInOut}, {css: {opacity: 1, fontSize: '90px'}, ease: Quad.easeInOut}), scrollDuration, false);-->
    <!--controller.addTween('#native', TweenMax.fromTo($('#native'), .25, {css: {opacity: 0.8, color: '#333333', fontSize: '60px'}, immediateRender: true, ease: Quad.easeInOut}, {css: {opacity: 1, color: '#333333', fontSize: '90px'}, ease: Quad.easeInOut}), scrollDuration, false);-->
    <!--controller.addTween('#webbase', TweenMax.fromTo($('#webbase'), .25, {css: {opacity: 0.8, fontSize: '60px'}, immediateRender: true, ease: Quad.easeInOut}, {css: {opacity: 1, fontSize: '90px'}, ease: Quad.easeInOut}), scrollDuration, false);-->
<!--});-->
<!--</script>-->