<style>
  h1{font-size:60px; text-align:center;padding-top:60px;padding-bottom: 10px;color: #DF7530;}
  h3{font-size:25px; text-align:center;text-transform: uppercase;padding-bottom: 10px;color: #FF9550;}
  h4{font-size:24px; text-align:center;padding-top:30px;padding-bottom: 30px;}
  .row .col-md-4 .thumbnail i.fa{font-size:100px;background-color: #EFEFEF; border-radius: 50%;padding: 50px;text-shadow: 1px 1px 0 #808080;}
  p{font-size:18px;}
</style>

<div style="">
  <div class="container" style="min-height: 2300px;">
    <h1><fd>Web</fd> <b>PORTFOLIO</b></h1>

    <br>

    <div class="row">
      <div class="col-md-4 col-sm-12" style="height:500px;">
        <h3>Homely Needs</h3>
        <div class="portfolio_slot">
          <img class="img-responsive" src="assets/upload/images/shots/homelyneeds.png">
        </div>
        <a href="http://www.homelyneeds.com" target="_blank"><div class="shothover"></div></a>
      </div>

      <div class="col-md-4 col-sm-12" style="height:500px;">
        <h3>Deen Weekly</h3>
        <div class="portfolio_slot">
          <img class="img-responsive" src="assets/upload/images/shots/deenweekly.png">
        </div>
        <a href="http://www.deenweekly.com" target="_blank"><div class="shothover"></div></a>
      </div>

      <div class="col-md-4 col-sm-12" style="height:500px;">
        <h3>Odyssey Timber</h3>
        <div class="portfolio_slot">
          <img class="img-responsive" src="assets/upload/images/shots/odysseytimber.png">
        </div>
        <a href="http://www.odysseytimber.com" target="_blank"><div class="shothover"></div></a>
      </div>
    </div>


    <div class="row">

      <div class="col-md-2"></div>

      <div class="col-md-4 col-sm-12" style="height:500px;">
        <h3>Sunnah Zawaj</h3>
        <div class="portfolio_slot">
          <img class="img-responsive" src="assets/upload/images/shots/sunnah.png">
        </div>
        <a href="http://www.homelyneeds.com" target="_blank"><div class="shothover"></div></a>
      </div>

      <div class="col-md-4 col-sm-12" style="height:500px;">
        <h3>Goynaa Jewelry</h3>
        <div class="portfolio_slot">
          <img class="img-responsive" src="assets/upload/images/shots/goynaa.png">
        </div>
        <a href="http://www.deenweekly.com" target="_blank"><div class="shothover"></div></a>
      </div>

      <div class="col-md-2"></div>

    </div>


    <div class="row">
      <div class="col-md-4 col-sm-12" style="height:500px;">
        <h3>Life School</h3>
        <div class="portfolio_slot">
          <img class="img-responsive" src="assets/upload/images/shots/lifeschool.png">
        </div>
        <a href="http://www.lifeislamicschool.com" target="_blank"><div class="shothover"></div></a>
      </div>

      <div class="col-md-4 col-sm-12" style="height:500px;">
        <h3>Anaatex</h3>
        <div class="portfolio_slot">
          <img class="img-responsive" src="assets/upload/images/shots/anaatex.png">
        </div>
        <a href="http://www.anaatex.com" target="_blank"><div class="shothover"></div></a>
      </div>

      <div class="col-md-4 col-sm-12" style="height:500px;">
        <h3>Dhaka Towel</h3>
        <div class="portfolio_slot">
          <img class="img-responsive" src="assets/upload/images/shots/dhakatowel.png">
        </div>
        <a href="http://www.dhakatowel.com" target="_blank"><div class="shothover"></div></a>
      </div>
    </div>



    <div class="row">
      <div class="col-md-4 col-sm-12" style="height:500px;">
        <h3>Halal Needs</h3>
        <div class="portfolio_slot">
          <img class="img-responsive" src="assets/upload/images/shots/halalneeds.png">
        </div>
        <a href="http://www.halalneeds.com" target="_blank"><div class="shothover"></div></a>
      </div>

      <div class="col-md-4 col-sm-12" style="height:500px;">
        <h3>Shomokalin</h3>
        <div class="portfolio_slot">
          <img class="img-responsive" src="assets/upload/images/shots/shomokalin.png">
        </div>
        <a href="http://www.shomokalin.com" target="_blank"><div class="shothover"></div></a>
      </div>

      <div class="col-md-4 col-sm-12" style="height:500px;">
        <h3>SharaBangla24</h3>
        <div class="portfolio_slot">
          <img class="img-responsive" src="assets/upload/images/shots/sharabangla24.png">
        </div>
        <a href="http://www.sharabangla24.com" target="_blank"><div class="shothover"></div></a>
      </div>
    </div>




    <div class="row">
      <div class="col-md-4 col-sm-12" style="height:500px;">
        <h3>Amar Qur'an</h3>
        <div class="portfolio_slot">
          <img class="img-responsive" src="assets/upload/images/shots/amarquran.png">
        </div>
        <a href="http://www.amarquran.com" target="_blank"><div class="shothover"></div></a>
      </div>

      <div class="col-md-4 col-sm-12" style="height:500px;">
        <h3>BIPSS</h3>
        <div class="portfolio_slot">
          <img class="img-responsive" src="assets/upload/images/shots/bipps.png">
        </div>
        <a href="http://www.bipps.com" target="_blank"><div class="shothover"></div></a>
      </div>

      <div class="col-md-4 col-sm-12" style="height:500px;">
        <h3>Odyssey Door</h3>
        <div class="portfolio_slot">
          <img class="img-responsive" src="assets/upload/images/shots/odysseydoor.png">
        </div>
        <a href="http://www.odysseydoor.com" target="_blank"><div class="shothover"></div></a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-12" style="height:500px;">
        <h3>Monarch Specialties</h3>
        <div class="portfolio_slot">
          <img class="img-responsive" src="assets/upload/images/shots/monarch.png">
        </div>
        <a href="http://www.monarchspec.com" target="_blank"><div class="shothover"></div></a>
      </div>

      <div class="col-md-4 col-sm-12" style="height:500px;">
        <h3>AAMP</h3>
        <div class="portfolio_slot">
          <img class="img-responsive" src="assets/upload/images/shots/aamp.png">
        </div>
        <a href="http://www.aampmuseum.org" target="_blank"><div class="shothover"></div></a>
      </div>

      <div class="col-md-4 col-sm-12" style="height:500px;">
        <h3>Your Furniture</h3>
        <div class="portfolio_slot">
          <img class="img-responsive" src="assets/upload/images/shots/yourfurniture.png">
        </div>
        <a href="http://one.furnituremalldirect.com" target="_blank"><div class="shothover"></div></a>
      </div>
    </div>



    <div class="row">

      <div class="col-md-2"></div>

      <div class="col-md-4 col-sm-12" style="height:500px;">
        <h3>Final Expence Estimator</h3>
        <div class="portfolio_slot">
          <img class="img-responsive" src="assets/upload/images/shots/finalexpense.png">
        </div>
        <a href="http://www.finalexpenseestimator.com" target="_blank"><div class="shothover"></div></a>
      </div>

      <div class="col-md-4 col-sm-12" style="height:500px;">
        <h3>Safe-Q</h3>
        <div class="portfolio_slot">
          <img class="img-responsive" src="assets/upload/images/shots/safeq.png">
        </div>
        <a href="http://www.safe-q.com" target="_blank"><div class="shothover"></div></a>
      </div>

      <div class="col-md-2"></div>

    </div>



    <br><br><br><br><br><br>


  </div>

</div>