<style>
    h1{font-size:100px; text-align:center;padding-top:40px;padding-bottom: 40px;}
    h3{font-size:18px; text-align:center;text-transform: uppercase;padding-bottom: 10px;}
    h4{font-size:24px; text-align:center;padding-top:30px;padding-bottom: 30px;}
    .row .col-md-4 .thumbnail i.fa{
        font-size:100px;
        background-color: #EFEFEF;
        border-radius: 50%;
        padding: 50px;
        text-shadow: 1px 1px 0 #808080;
    }
    p{font-size:18px;}

    #responsive_websites {
        background: url("assets/upload/images/patterns/geometry.png") 50% 0 repeat fixed;
    height: auto;
    padding-top:00px;
    padding-bottom:100px;
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    position: relative;
    }

    #responsive_mid {
        background: url("upload/images/patterns2/.png") 0 0 repeat fixed;
    height: auto;
    padding-top:100px;
    padding-bottom:100px;
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    position: relative;
    }

    #something {
        background: url("assets/upload/images/.png") 50% 0 repeat fixed;
    height: auto;
    padding-bottom:100px;
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    position: relative;
    }

</style>

<!--<div data-ride="carousel" class="carousel slide" id="carousel-example-captions">-->
    <!--<div class="carousel-inner">-->
        <!--<div class="item active">-->
            <!--<img class="slide" data-src="holder.js/960x500/auto/#666:#666" src="assets/upload/images/responsive2.jpg">-->
            <!--<div class="carousel-caption bakmo">-->
                <!--<h1 style="font-size: 80px;">Responsive <b style="color: peru;letter-spacing: -8px;">WEBSITES</b></h1>-->
                <!--<div class="col-md-12 textboxresp">-->
                    <!--<h3 style="">Technology has changed the way we think! Today, there are more hand-held devices connected to the Internet than ever before, and this is why we would find ourselves surfing, shopping, sharing, connecting to friends through our mobile phones and tablets rather than sitting in front of a computer. Zeteq helps you achieve Responsive Web Designs that will work on such devices, so you can be anywhere, anytime, and access your site without any glitches!</h3>-->
                <!--</div>-->
                <!--<div class="col-md-12">-->
                    <!--<div class="buttonholder">-->
                        <!--<a id="backend-cms" class="btn btn-viewdemo" href="http://cms.zeteq.com" target="_blank">Regular Website CMS</a>-->
                        <!--<a id="backend-art" style="" class="btn btn-viewdemo" href="http://articlesite.zeteq.com" target="_blank">Article/Newspaper CMS</a>-->

                        <!--<div id="popup-cms" class="pop_up">Username: admin@zeteq.com<br>Password: ze353637<br><a style="text-transform: uppercase;color: #FFB347;" href="http://cms.zeteq.com/admin" target="_blank">View Backend</a></div>-->
                        <!--<div id="popup-art" class="pop_up">Username: admin@zeteq.com<br>Password: ze353637<br><a style="text-transform: uppercase;color: #FFB347;" href="http://articlesite.zeteq.com/admin" target="_blank">View Backend</a></div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->






<div ng-controller="CarouselDemoCtrl">
    <div style="">
        <carousel interval="myInterval" no-wrap="noWrapSlides">
            <slide  active="slide.active">
                <img class="slide" data-src="holder.js/960x500/auto/#666:#666" src="assets/upload/images/responsive2.jpg">
                <div class="carousel-caption bakmo" style="left: 0;right: 0;">
                    <h1 style="font-size: 80px;">Responsive <b style="color: peru;letter-spacing: -8px;">WEBSITES</b></h1>
                    <div class="col-md-12 textboxresp">
                        <h3 style="">Technology has changed the way we think! Today, there are more hand-held devices connected to the Internet than ever before, and this is why we would find ourselves surfing, shopping, sharing, connecting to friends through our mobile phones and tablets rather than sitting in front of a computer. Zeteq helps you achieve Responsive Web Designs that will work on such devices, so you can be anywhere, anytime, and access your site without any glitches!</h3>
                    </div>
                    <div class="col-md-12">
                        <div class="buttonholder">
                            <a ng-mouseover="hoverInRW()" id="res-backend-cms" class="btn btn-viewdemo" href="http://cms.zeteq.com" target="_blank">Regular Website CMS</a>
                            <a ng-mouseover="hoverInArt()" id="res-backend-art" style="" class="btn btn-viewdemo" href="http://articlesite.zeteq.com" target="_blank">Article/Newspaper CMS</a>

                            <div ng-show="showPopupSms" id="res-popup-cms"  class="pop_up">Username: admin@zeteq.com<br>Password: ze353637<br><a style="text-transform: uppercase;color: #FFB347;" href="http://cms.zeteq.com/admin" target="_blank">View Backend</a></div>
                            <div ng-show="showPopupArt" id="res-popup-art" class="pop_up">Username: admin@zeteq.com<br>Password: ze353637<br><a style="text-transform: uppercase;color: #FFB347;" href="http://articlesite.zeteq.com/admin" target="_blank">View Backend</a></div>
                        </div>
                    </div>
                </div>
            </slide>
        </carousel>
    </div>

</div>
















<section id="responsive_websites"  data-speed="4" data-type="background" style="padding-top: 100px;">
    <div class="container">

        <div class="row pageblock">

            <div class="col-md-4">
                <div class="thumbnail">

                    <i class="fa fa-laptop"></i>
                    <div class="caption">
                        <h3>Seamless User Experience</h3>
                        <p>Rather than designing different versions of your website for different devices, you can have just one responsive design that will work on devices with different screen resolutions.</p>

                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="thumbnail">

                    <i class="fa fa-globe widen"></i>
                    <div class="caption">
                        <h3>Improved SEO</h3>
                        <p>If you have one website that fits into screens with different resolutions, this means your website is being optimized for search engines. Instead of trying to optimize content for multiple websites, you only have to market just one!</p>

                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="thumbnail">

                    <i class="fa fa-lock widen"></i>
                    <div class="caption">
                        <h3>Stay Secure</h3>
                        <p>We secure our websites using the worlds leading provider of online security! Your stuff is totally safe with us!</p>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="container">
        <div class="row pageblock"> {#BOTTOM ROW#}

            <div class="col-md-4">
                <div class="thumbnail">

                    <i class="fa fa-money"></i>
                    <div class="caption">
                        <h3>Cost Effective</h3>
                        <p>Before the existence of Responsive Web Design, it was common to build different versions of a website for different devices. With Responsive Designs, you only need one website! Saves you both time and money! Awesome!</p>

                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="thumbnail">

                    <i class="fa fa-road"></i>
                    <div class="caption">
                        <h3>Lead the way</h3>
                        <p>Less than 3% of all websites are responsive. By taking advantage of Responsive Web Designs, you can stay at the top of your game! Your site will have the opportunity to gain a significant edge over your competition!</p>

                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="thumbnail">

                    <i class="fa fa-tachometer"></i>
                    <div class="caption">
                        <h3>High Performance</h3>
                        <p>With your website loaded with HTML5 and CSS3 and the latest optimizing techniques, you'll get an extremely high performing website! Did we mention it'll be easier to use?</p>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>



<!--<script>-->
    <!--$(document).ready(function() {-->

        <!--$('#res-backend-cms').hover(function() {-->
          <!--$('#res-popup-cms').css("display", "block");-->
        <!--}, function() {-->
            <!--$('#res-popup-cms').delay(5000).fadeOut(2000, "linear");-->
        <!--});-->

    <!--});-->
<!--</script>-->

<!--<script>-->
    <!--$(document).ready(function() {-->

        <!--$('#res-backend-art').hover(function() {-->
            <!--$('#res-popup-art').css("display", "block");-->
        <!--}, function() {-->
            <!--$('#res-popup-art').delay(5000).fadeOut(2000, "linear");-->
        <!--});-->

    <!--});-->
<!--</script>-->

<br><br>
