<style>
    h1{font-size:100px; text-align:center;padding-top:40px;padding-bottom: 40px;}
    h3{font-size:18px; text-align:center;text-transform: uppercase;padding-bottom: 10px;}
    h4{font-size:24px; text-align:center;padding-top:30px;padding-bottom: 30px;}
    .row .col-md-4 .thumbnail i.fa{font-size:100px;background-color: #EFEFEF; border-radius: 50%;padding: 50px;text-shadow: 1px 1px 0 #808080;}
    .row .col-md-6 .thumbnail i.fa{font-size:100px;background-color: #EFEFEF; border-radius: 50%;padding: 50px;text-shadow: 1px 1px 0 #808080;}
    p{font-size:18px;}
</style>





<div ng-controller="CarouselDemoCtrl">
    <div style="">
        <carousel interval="myInterval" no-wrap="noWrapSlides">
            <slide  active="slide.active">
                <img class="slide" data-src="holder.js/960x500/auto/#666:#666" src="assets/upload/images/market.jpg">
                <div class="carousel-caption bakmo" style="left: 0;right: 0;">
                    <h1 style="font-size: 80px;">Virtual <b style="color: #FF9530;letter-spacing: -8px;">MARKETPLACE</b></h1>
                    <div class="col-md-12 textboxmp">
                        <h3 style="">The MarketPlace is a great and unique way you multiply your business online! There are many advantages of hosting multiple stores in your marketplace, the most important one being competition among the stores. You can the backend easy to configure and maintaine all your store and manage all contents of all stores!</h3>
                    </div>
                    <div class="col-md-12 buttonholder">
                        <a  style="" class="btn btn-viewdemo" href="http://market.zeteq.com" target="_blank">View Frontend</a>
                        <a ng-mouseover="hoverInBackend()" id="backend" class="btn btn-viewdemo" href="http://market.zeteq.com/admin" target="_blank">View Backend</a>
                        <div ng-show="showPopupBackend" style="left: 1145px;"  id="popup" class="pop_up" href="" target="_blank">Username: admin@zeteq.com<br>Password: ze353637</div>
                    </div>
                </div>
            </slide>
        </carousel>
    </div>

</div>



<br/><br/><br/>







<div class="container">
    <div class="row pageblock">

        <div class="col-md-6">
            <div class="thumbnail">

                <i class="fa fa-gears widen"></i>
                <div class="caption">
                    <h3>Main Administration</h3>
                    <p>From the Main Administration, you can control all the stores and their contents. In other words, with this you own the marketplace!</p>


                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="thumbnail">

                <i class="fa fa-tags"></i>
                <div class="caption">
                    <h3>Store Administration</h3>
                    <p>Create unlimited number of stores and manage all in-store content using the Store Admin Panel!</p>

                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="row pageblock">

        <div class="col-md-4">
            <div class="thumbnail">

                <i class="fa fa-barcode"></i>
                <div class="caption">
                    <h3>Product Catalog</h3>
                    <p>You can upload and showcase your full range of products! You can feature, set the price, mark as clearance, mark as special offers, batch upload, and do a whole lot more!</p>

                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="thumbnail">

                <i class="fa fa-cog widen"></i>
                <div class="caption">
                    <h3>Built-In Backend</h3>
                    <p>Our built-in backend is simple and user-friendly, yet extremely powerful! Customize your layouts, newsletters, images and image galleries, and much more! Take control!</p>

                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="thumbnail">

                <i class="fa fa-folder"></i>
                <div class="caption">
                    <h3>CMS</h3>
                    <p>Our sites come with a Content Management System that will help you manage your newsletters, images, galleries, blogs, meta data and much more. Take full control over your website!</p>

                </div>
            </div>
        </div>
    </div>


    <br>

    <div class="row pageblock">

        <div class="col-md-4">
            <div class="thumbnail">
                <i class="fa fa-money"></i>
                <div class="caption">
                    <h3>Low Cost, High Benefits</h3>
                    <p>Get the best out of your website at low costs with the same, great benefits as our competitors. With a system already built with easy functions, you can always take your site a step further anytime!</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="thumbnail">
                <i class="fa fa-suitcase"></i>
                <div class="caption">
                    <h3>Marketing Features</h3>
                    <p>Increase your marketing capabilities with built-in marketing features like related products, cross-matching products and newsletters. Go social all over with the attached social media capabilites!</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="thumbnail">
                <i class="fa fa-tachometer"></i>
                <div class="caption">
                    <h3>Super Fast</h3>
                    <p>Your website will be loaded with HTML5 and CSS3 and the latest optimizing techniques, you'll get an extremely high performing website! Get soaring!</p>
                </div>
            </div>
        </div>
    </div>
</div>

<br><br>

<script>
    $(document).ready(function() {

        $('#backend').hover(function() {
            $('#popup').css("display", "block");
        }, function() {
            $('#popup').delay(5000).fadeOut(2000, "linear");
        });

    });
</script>