<style>
    h1{font-size:100px; text-align:center;padding-top:40px;padding-bottom: 40px;}
    h3{font-size:18px; text-align:center;text-transform: uppercase;padding-bottom: 10px;}
    h4{font-size:24px; text-align:center;padding-top:30px;padding-bottom: 30px;}
    .row .col-md-4 .thumbnail i.fa{
        font-size:100px;
        background-color: #EFEFEF;
        border-radius: 50%;
        padding: 50px;
        text-shadow: 1px 1px 0 #808080;
    }
    p{font-size:18px;}
</style>





<div ng-controller="CarouselDemoCtrl">
    <div style="">
        <carousel interval="myInterval" no-wrap="noWrapSlides">
            <slide  active="slide.active">
                <img class="slide" data-src="holder.js/960x500/auto/#666:#666" src="assets/upload/images/webapp.jpg">
                <div class="carousel-caption bakmo" style="left: 0;right: 0;">
                    <h1 style="font-size: 80px;">WEB <b style="color: peru;letter-spacing: -8px;">APPLICATIONS</b></h1>
                    <div class="col-md-12 textboxapp">
                        <h3 style="">Over the past decade, the Internet has been the source of business transactions, submission of online forms, subscribing to newsletters, reading magazines, requesting information regarding products, you name it! Zeteq provides with such Web Applications, integrated with every website that we deliver. These applications are highly programmable and can cater to your custom needs!</h3>
                    </div>

                </div>
            </slide>
        </carousel>
    </div>

</div>








<br><br><br>

<div class="container">

    <h6>Our Expertise</h6><br>

    <div class='row'>
        <div class='col-md-1'></div>

        <div class='col-md-2 plogos'>
            <img src='assets/upload/images/h5.png'>
            <h3>HTML5</h3>
        </div>
        <div class='col-md-2 plogos'>
            <img src='assets/upload/images/c3.png'>
            <h3>CSS3</h3>
        </div>
        <div class='col-md-2 plogos'>
            <img style="box-shadow: 0 0 4px 0 #E3E3E3;" src='assets/upload/images/js.png'>
            <h3>JavaScript</h3>
        </div>
        <div class='col-md-2 plogos'>
            <img src='assets/upload/images/jq.png'>
            <h3>jQuery</h3>
        </div>
        <div class='col-md-2 plogos'>
            <img src='assets/upload/images/node.png'>
            <h3>node.JS</h3>
        </div>


        <div class='col-md-1'></div>
    </div>
</div>

<br>

<div class="container">
    <p class="breakline"></p>



    <h6>Programming</h6>
    <h4>We develop our websites using PHP based on the frameworks:</h4>

    <div class='row' style="text-align:center">
        <div class='col-md-4 plogos'>
            <img src='assets/upload/images/zend.png'>
            <h3>Zend</h3>
        </div>
        <div class='col-md-4 plogos'>
            <img src='assets/upload/images/sf.png'>
            <h3>Symfony</h3>
        </div>
        <div class='col-md-4 plogos'>
            <img style="" src='assets/upload/images/codeig.png'>
            <h3>CodeIgniter</h3>
        </div>
    </div>
</div>


<br>

<div class="container">
    <p class="breakline"></p>

    <h6>Database</h6>
    <div class='row' style="text-align:center">
        <div class='col-md-3 plogos'>
            <img src='assets/upload/images/oracle.png'>
            <h3>Oracle</h3>
        </div>
        <div class='col-md-3 plogos'>
            <img src='assets/upload/images/mysql.png'>
            <h3>mySQL</h3>
        </div>
        <div class='col-md-3 plogos'>
            <img src='assets/upload/images/sqlite.png'>
            <h3>SQLite</h3>
        </div>
        <div class='col-md-3 plogos'>
            <img src='assets/upload/images/postsql.png'>
            <h3>PostgreSQL</h3>
        </div>
    </div>
</div>

<br>

<div class="container">
    <p class="breakline"></p>


    <h6>Operating Systems</h6>

    <div class='row' style="text-align:center">
        <div class='col-md-3 plogos'>
            <img src='assets/upload/images/ubuntu.png'>
            <h3>Ubuntu</h3>
        </div>
        <div class='col-md-3 plogos'>
            <img src='assets/upload/images/fedora.png'>
            <h3>Fedora</h3>
        </div>
        <div class='col-md-3 plogos'>
            <img src='assets/upload/images/solaris.png'>
            <h3>Solaris</h3>
        </div>
        <div class='col-md-3 plogos'>
            <img src='assets/upload/images/winserv.png'>
            <h3>Windows Server</h3>
        </div>
    </div>

    <h4> ...including other linux variations.</h4>
</div>

<br>

<div class="container">
    <p class="breakline"></p>

    <h6>Graphics Design</h6>

    <div class='row' style="text-align:center">

        <div class='col-md-3 plogos'></div>
        <div class='col-md-3 plogos'>
            <img src='assets/upload/images/ps.png'>
            <h3>Adobe Photoshop</h3>
        </div>
        <div class='col-md-3 plogos'>
            <img src='assets/upload/images/ai.png'>
            <h3>Adobe Illustrator</h3>
        </div>
        <div class='col-md-3 plogos'></div>

    </div>
</div>

<br><br>



<br><br>
