<!DOCTYPE html>
<html ng-app="ngBoilerplate" ng-controller="AppCtrl">
  <head>
    <title ng-bind="pageTitle"></title>

    <!-- social media tags -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@joshdmiller">
    <meta name="twitter:title" content="ngBoilerplate">
    <meta name="twitter:description" content="Non-Trivial AngularJS Made Easy: Everything you need to kickstart AngularJS projects: a best-practice directory structure, an intelligent build system, and the best web design libraries around.">
    <meta name="twitter:creator" content="@joshdmiller">
    <meta name="twitter:image:src" content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846">
    <meta property="og:title" content="ngBoilerplate" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://bit.ly/ngBoilerplate" />
    <meta property="og:image" content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846" />
    <meta property="og:description" content="Non-Trivial AngularJS Made Easy: Everything you need to kickstart AngularJS projects: a best-practice directory structure, an intelligent build system, and the best web design libraries around.">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<script src="assets/js/jquery-1.9.1.min.js" type="text/javascript"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- font awesome from BootstrapCDN -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>

    <!-- it's stupid to have to load it here, but this is for the +1 button -->
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js">
      { "parsetags": "explicit" }
    </script>


      <script type="text/javascript" src="vendor/angular-animate/angular-animate.js"></script>


    <script type="text/javascript" src="assets/js/superscrollorama/js/greensock/TweenMax.min.js"></script>

    <!--<script src="assets/bootstrap-3.0.0/dist/js/bootstrap.min.js" type="text/javascript"></script>-->
    <script src="assets/js/jquery.form.js"  type="text/javascript"></script>
    <script src="assets/js/superscrollorama/js/jquery.lettering-0.6.1.min.js"></script>
    <script src="assets/js/superscrollorama/js/jquery.superscrollorama.js"></script>
    <script src="assets/js/parallax-bg.js"></script>





    <script src="assets/bootstrap-3.0.0/assets/js/respond.min.js"></script>

    <link href="assets/css/main.css" type="text/css" rel="stylesheet" />
    <link href="assets/css/font-awesome/css/font-awesome.min.css" type="text/css" rel="stylesheet" />
    <link href="assets/css/font-awesome/css/font-awesome.min.css" type="text/css" rel="stylesheet" />
    <link href="assets/css/yamm.css" type="text/css" rel="stylesheet" />

    <script src="assets/js/sitejs.js"></script>




    <!--<script>-->
      <!--(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){-->
                <!--(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),-->
              <!--m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)-->
      <!--})(window,document,'script','//www.google-analytics.com/analytics.js','ga');-->

      <!--ga('create', 'UA-49100429-1', 'zeteq.com');-->
      <!--ga('send', 'pageview');-->

    <!--</script>-->


    <!--<script type="text/javascript">// <![CDATA[-->
    <!--$('#top-nav').onePageNav({-->
      <!--currentClass: 'active',-->
      <!--changeHash: true,-->
      <!--scrollSpeed: 1200-->
    <!--});-->
    <!--// ]]>-->
    <!--</script>-->






    <style>
      .active_a {
        border-bottom: 1px solid #BBBBBB;
        border-radius: 5px;
        box-shadow: 0 10px 10px -14px #7F7F7F;
      }

      a.top-nav-a i{
        display:none
      }

      a.top-nav-a.active_a i{
        display:block;
        bottom: -4px;
        left: 48%;
        margin: auto;
        position: absolute;
        color: #BBBBBB;
      }

    </style>


    <!-- -->
    <!--<div id="fb-root"></div>-->
    <!--<script>(function(d, s, id) {-->
      <!--var js, fjs = d.getElementsByTagName(s)[0];-->
      <!--if (d.getElementById(id))-->
        <!--return;-->
      <!--js = d.createElement(s);-->
      <!--js.id = id;-->
      <!--js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";-->
      <!--fjs.parentNode.insertBefore(js, fjs);-->
    <!--}(document, 'script', 'facebook-jssdk'));-->
    <!--</script>-->







  </head>
  <body>


  <header role="banner" id="top_menu" class="navbar navbar-default navbar-fixed-top hidden-md hidden-sm hidden-xs">
    <div class="">
      <div class="navbar-header">
        <button data-target=".bs-navbar-collapse" data-toggle="collapse" type="button" class="navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <div class="">
          <a class="navbar-brand" href ui-sref="home"><i class="fa fa-fire" style="color:#DF7530;">&nbsp</i>zeteq systems </a>
        </div>



      </div>
      <nav id="sp-nav" role="navigation" class="collapse navbar-collapse bs-navbar-collapse" style="padding-top: 0px;">

        <ul id="top-nav" class="nav navbar-nav pull-right">




          <li class=""><a class="top-nav-a" href ui-sref="responsivews"><i class="fa fa-caret-up"></i>RESPONSIVE WEBSITES</a></li>
          <li class=""><a class="top-nav-a" href ui-sref="webapp"><i class="fa fa-caret-up"></i>WEB APPLICATIONS</a></li>

          <li class="dropdown"><a class="dropdown-toggle btn-trans" data-toggle="dropdown" href="#">ECOMMERCE <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li>
                <div class="yamm-content">
                  <ul class="media-list">
                    <li class="media"><a class="pull-right" href="page_show" style='display: block'><i class='fa fa-shopping-cart clr' style='font-size:60px'></i></a>
                      <div class="media-body">
                        <a class='clr' href ui-sref="onlinestore"><h7 class="media-heading clr">ONLINE STORE</h7> <br>Starting a store that's online.</a>
                      </div>
                    </li>
                    <li class='divider'></li>
                    <li class="media"><a class="pull-right" href="page_show" style='display: block'><i class='fa fa-tags clr' style='font-size:50px'></i></a>
                      <div class="media-body">
                        <a class='clr' href ui-sref="virtualmp"><h7 class="media-heading clr">VIRTUAL MARKETPLACE</h7> Combine all your stores into a Mall!</a>
                      </div>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </li>


          <li class=""><a class="top-nav-a" href ui-sref="mobile"><i class="fa fa-caret-up"></i>MOBILE</a></li>
          <li class=""><a class="top-nav-a" href ui-sref="portfolio"><i class="fa fa-caret-up"></i>PORTFOLIO</a></li>
          <li class=""><a class="top-nav-a" href="{{path('blog')}}"><i class="fa fa-caret-up"></i>BLOG</a></li>
          <li class=""><a class="top-nav-a" href="{{path('home')}}#contact_div"><i class="fa fa-caret-up"></i>CONTACT</a></li>
        </ul>
      </nav>
    </div>
  </header>



  <header role="banner" id="mobile_menu" class="navbar navbar-default navbar-fixed-top hidden-lg">
    <div class="">
      <div class="navbar-header" style="text-align:center;">
        <button data-target=".bs-navbar-collapse" data-toggle="collapse" type="button" class="navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <div class="">
          <a class="navbar-brand" href="home"><i class="fa fa-fire" style="color:#DF7530;">&nbsp</i><hide class="visible-lg">zeteq systems</hide> </a>
        </div>

      </div>
      <nav id="sp-nav" role="navigation" class="collapse navbar-collapse bs-navbar-collapse" style="padding-top: 0px;">

        <ul id="top-nav" class="nav navbar-nav pull-right">




          <li class=""><a class="top-nav-a" href="page_show"><i class="fa fa-caret-up"></i>RESPONSIVE WEBSITES</a></li>
          <li class=""><a class="top-nav-a" href="page_show"><i class="fa fa-caret-up"></i>WEB APPLICATIONS</a></li>

          <li class="dropdown"><a style="font-size:10px;" class="dropdown-toggle btn-trans" data-toggle="dropdown" href="#">ECOMMERCE <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li>
                <div class="yamm-content">
                  <ul class="media-list">
                    <li class="media"><a class="pull-right" href="page_show" style='display: block'><i class='fa fa-shopping-cart clr' style='font-size:60px'></i></a>
                      <div class="media-body">
                        <a class='clr' href="page_show"><h7 class="media-heading clr">ONLINE STORE</h7> <br>Starting a store that's online.</a>
                      </div>
                    </li>
                    <li class='divider'></li>
                    <li class="media"><a class="pull-right" href="page_show" style='display: block'><i class='fa fa-tags clr' style='font-size:50px'></i></a>
                      <div class="media-body">
                        <a class='clr' href="page_show"><h7 class="media-heading clr">VIRTUAL MARKETPLACE</h7> Combine all your stores into a Mall!</a>
                      </div>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </li>


          <li class=""><a class="top-nav-a" href="page_show"><i class="fa fa-caret-up"></i>MOBILE</a></li>
          <li class=""><a class="top-nav-a" href="page_show"><i class="fa fa-caret-up"></i>PORTFOLIO</a></li>
          <li class=""><a class="top-nav-a" href="blog"><i class="fa fa-caret-up"></i>BLOG</a></li>
          <li class=""><a class="top-nav-a" href="home"><i class="fa fa-caret-up"></i>CONTACT</a></li>
        </ul>
      </nav>
    </div>
  </header>

    <div id="main_container"  class="container11" ui-view="main"></div>




<!--Footer Start-->

  <style>
    .social{font-size:40px; text-align:center;padding-top:35px;padding-bottom: 0px;}
  </style>

  <div id="footer">
    <div class="container">
      <div class="row">


        <div class="col-lg-4 col-md-4 col-sm-4">
          <h2 class="flip">What We Do</h2>
          <ul class="list-group" style="list-style: none outside none;">
            <li><a href="page_show">Responsive Website Design</a></li>
            <li><a href="#">CMS Websites</a></li>
            <li><a href="page_show">Web Applications</a></li>
            <li><a href="page_show">Ecommerce Websites</a></li>
            <li><a href="page_show">Ecommerce Marketplaces</a></li>
            <li><a href="page_show">Mobile Applications</a></li>
          </ul>
        </div>


        <div id="footercontactinfo" class="col-lg-4 col-md-4 col-sm-4"><h2 class="flip">Contact Info</h2>
          <h4>U.S. Office</h4>
          <i class="fa fa-globe">&nbsp&nbsp</i><span style="display:inline-block">Silicon Valley</span><br>
          <i class="fa fa-phone-square">&nbsp&nbsp</i><span style="display:inline-block">+(1) 510-270-8439</span><br>
          <i class="fa fa-mobile" style="font-size: 20px;">&nbsp&nbsp</i><span style="display:inline-block">+(1) 650-515-7223</span><br>
          <i class="fa fa-envelope-o">&nbsp&nbsp</i><span style="display:inline-block"><a href="mailto:rumana@zeteq.com">rumana@zeteq.com</a></span>
          <hr style="border-color:#404040;"/>
          <h4>Bangladesh Office</h4>
          <i class="fa fa-globe">&nbsp&nbsp</i><span style="display:inline-block">Dhaka</span><br>
          <i class="fa fa-home">&nbsp&nbsp</i><span style="display:inline-block">Apt C2, House 6, Road 33, Gulshan-1</span><br>
          <i class="fa fa-phone-square">&nbsp&nbsp</i><span style="display:inline-block">+(880) 191-1629040</span><br>
          <i class="fa fa-phone-square">&nbsp&nbsp</i><span style="display:inline-block">+(880) 168-6264870</span><br>
          <i class="fa fa-envelope">&nbsp&nbsp</i><span style="display:inline-block"><a href="mailto:info@zeteq.com">info@zeteq.com</a></span>



        </div>

        <div class="col-lg-4 col-md-4 col-sm-4" style="display:none;">
          <h2>Blog</h2>
          <ul>
            <li style="display:none;">
              <a class="top-nav-a" href="blog">Blog Homepage</a>
            </li>
          </ul>
          {#<a href="home"><img src="assets/upload/images/logon.png" class="logo" ></a>#}
        </div>


        <div class="col-lg-4 col-md-4 col-sm-4"><h2 class="flip">Quick Links</h2>
          <ul class="list-group" style="list-style: none outside none;">
            <li style=""><a href="page_show">About Us</a></li>
            <li><a href="contact">Contact Us</a></li>
            <li style=""><a href="page_show">Portfolio</a></li>
            <li><a class="top-nav-a" href="blog">Blog</a></li>


          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12" style="text-align: center;padding-top: 40px;padding-bottom: 0px;">
          <h5>All rights reserved, 2014. Designed and developed by <br> Zeteq Systems®</h5>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12" style="text-align: center;padding-top: 0px;padding-bottom: 10px;">

          <div class="social">
            <a href="http://www.facebook.com/zeteqsystems"><i class="fa fa-facebook" style="color: #404040"></i></a>
            <a href="http://www.twitter.com/zeteq"><i class="fa fa-twitter" style="color: #404040"></i></a>
            <a href="javascript:"><i class="fa fa-google-plus" style="color: #404040"></i></a>
            <a href="javascript:"><i class="fa fa-linkedin" style="color: #404040"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12" style="text-align: center;padding-top: 10px;padding-bottom: 0px;">
          <h5 style="padding-bottom: 10px;">Enter Email address below and click "Go" to subscribe!</h5>
          <div class="input-group">
            <input type="text" class="form-control-sub">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-success">Go!</button>
                    </span>
          </div><!-- /input-group -->

        </div>
      </div>

    </div><br>
  </div>




  <!--Footer End-->






  </body>
</html>
