<style type="text/css"></style>

<div>

    <div id="index_welcome">

        <h1 style="font-size:70px;font-weight:800">WELCOME TO <b style="font-family: ptb;">ZETEQ</b> SYSTEMS</h1>
        <h2 style="font-weight:200;font-family:pt;font-size:35px">YOUR ULTIMATE PARTNER IN DEVELOPING MOBILE AND WEB APPLICATIONS</h2>

    </div>

    <div class="index_section" id="">
        <div class="container">
            <div class="section-header scrollimation fade-up in">
                <h1 class="section-title " id="about_us_header">Who are we?</h1>

                <p class="section-description lead">Over the past 7 years, we have worked with over hundreds of clients from all over the world ranging from small stores to large Multinational Companies. Though currently we focus on responsive web applications in lamp, but we have successfully delivered solutions on almost all languages and platforms including perl, c#, java, etc.</p>
            </div>
            <!--End section-header -->

            <div class="row">
                <h1>Some of our Featured Clients</h1>

                <div class="col-md-1 visible-lg"></div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="well clip"><a href="javascript:"><img class="greyScale" src="assets/upload/images/bat.png"></a></div>
                </div>

                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="well clip"><a href="javascript:"><img class="greyScale" src="assets/upload/images/asia.png"></a></div>
                </div>

                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="well clip"><a href="javascript:"><img class="greyScale" src="assets/upload/images/usaid.png"></a></div>
                </div>

                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="well clip"><a href="javascript:"><img class="greyScale" src="assets/upload/images/icddrb.png"></a></div>
                </div>

                <div class="col-lg-2 col-md-11 col-sm-11">
                    <div class="well clip"><a href="javascript:"><img class="greyScale" src="assets/upload/images/btcl.png"></a></div>
                </div>

                <div class="col-md-1 visible-lg"></div>


            </div>

            <p class="lead text-center">Want to talk about a custom solution? Contact us and let's discuss!</p>

        </div><br><br>
        <!--End container --></div>





    <div class="service_section service_back" id="services_detail" style="">
        <div class="container">
            <div class="section-header">
                <h1 class="section-title" id="services_header">Services</h1>

                <p class="section-description lead">We create awesome Websites and Mobile Apps, the perfect solution for your project.<br />
                    We don't make mistakes, we make magic!
                </p>
            </div> <br/><br/>
            <!--End section-header -->

            <div class="row">
                <div class="col-lg-4 item text-center scrollimation scale-in in">
                    <a href="page_show"><div style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);" class="icon bounce" id="cir1">
                        <i class="fa fa-magic" style="text-shadow: 0 5px 0 #636363;"></i>
                        <h2 style="position: relative; bottom: 50px;">Responsive Web Design</h2>
                        <h4 style="font-size: 13px;position: relative; bottom: 50px; padding: 6px;">HTML5 Power<br>CSS3 Awesomeness<br>jQuery Magic</h4>
                    </div></a>
                </div>

                <div class="col-lg-4 item text-center scrollimation scale-in in">
                    <a href="page_show"><div style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);" class="icon bounce" id="cir2">
                        <i class="fa fa-file" style="text-shadow: 5px 5px 0 #636363;"></i>
                        <h2 style="position: relative; bottom: 50px;">Web Applications on php/MySQL</h2>
                        <h4 style="font-size: 13px;position: relative; bottom: 50px; padding: 6px;">Web Apps<br>Android Apps<br>iOS Apps</h4>
                    </div></a>
                </div>

                <div class="col-lg-4 item text-center scrollimation scale-in in">
                    <a href="page_show"><div style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);" class="icon bounce" id="cir3">
                        <i class="fa fa-money" style="text-shadow: 4px 4px 0 #636363;"></i>
                        <h2 style="position: relative; bottom: 50px;">Ecommerce Solutions</h2>
                        <h4 style="text-decoration: none;font-size: 13px;position: relative; bottom: 50px; padding: 6px;">The Web<br>Clean Design<br>Happy Clients</h4>
                    </div></a>
                </div>

            </div>
            <!--End row -->
            <br><br>


        </div>
        <!--End container -->
    </div>







    <div class="index_section" id="contact_div" style="background:#FAFAFA;padding-bottom: 100px">
        <div class="container">
            <div class="section-header">
                <h1 class="section-title " id="contact_us_header"><span id="contact">Contact Us</span></h1>

                <p class="section-description lead"><span id="contact" style="color:#808080; text-shadow: 0 1px 0 #FFFFFF;">We create Awesome Websites and Mobile Apps, the perfect solution for your project!</span></p>
            </div>
            <span id="contact"><!--End section-header --> </span>

            <div class="row" style="text-align:left">
                <div class="col-md-6">
                    <h2><span id="contact">Drop us a line</span></h2>

                    <h4 style="color:#808080"><span id="contact">Have a project in mind? Feel free to send us a message!</span></h4>

                    <form id='subsForma' method="post" role="form" action="contact">
                        <div class="form-group">
                            <h3><span id="contact"><label for="exampleInputFile">Name</label></span></h3>
                            <span id="contact"><input required  name="contact[name]" class="form-control" id="exampleInputEmail1" placeholder="Your name" style="font-size:14px;height:40px" type="text" /> </span></div>

                        <div class="form-group">
                            <h3><span id="contact"><label for="exampleInputFile">Email Address</label></span></h3>
                            <span id="contact"><input required name="contact[email]" class="form-control" id="exampleInputEmail1" placeholder="Enter email" style="font-size:14px;height:40px" type="email" /> </span></div>

                        <div class="form-group">
                            <h3><span id="contact"><label for="exampleInputFile">Phone Number</label></span></h3>
                            <span id="contact"><input  name="contact[phone]" class="form-control" id="exampleInputEmail1" placeholder="Your Phone Number" style="font-size:14px;height:40px" type="text" /> </span></div>


                        <div class="form-group">
                            <h3><span id="contact"><label for="exampleInputFile">Message</label></span></h3>
                            <span id="contact"><textarea  required name="contact[message]" class="form-control" placeholder="Your Message" style="font-size:14px;height:100px"></textarea> </span></div>

                        <div id='subs_resulta'></div>
                        <br/>   <br/>

                        <div style="text-align:center"><span id="contact"><button class="btn btn-success btn-lg" type="submit">Send Message</button> </span></div>

                    </form>
                </div>

                <div class="col-md-1"><span id="contact">&nbsp;</span></div>

                <div class="col-md-5">
                    <h2><span id="contact">Let's meet!</span></h2>

                    <h4 style="color:#808080"><span id="contact">Interested in working together?</span></h4><br>
                    <h3>U.S. Office</h3>
                    <h4><span id="contact"><i class="fa fa-envelope-o"></i>&nbsp;&nbsp; <a style="color:#333333" href="mailto:rumana@zeteq.com">rumana@zeteq.com</a></span></h4>
                    <h4><span id="contact"><i class="fa fa-phone"></i>&nbsp;&nbsp;&nbsp;+(1) 510-270-8439</span></h4>
                    <h4><span id="contact"><i class="fa fa-mobile-phone"></i>&nbsp;&nbsp;&nbsp;&nbsp;+(1) 650-515-7223</span></h4>

                    <br>

                    <h3>Dhaka Office</h3>
                    <h4><span id="contact"><i class="fa fa-home"></i>&nbsp;&nbsp;&nbsp;House 6, Road 33, Gulshan 1, Dhaka 1212 </span></h4>
                    <h4><span id="contact"><i class="fa fa-envelope-o"></i>&nbsp;&nbsp; <a style="color:#333333" href="mailto:info@zeteq.com">info@zeteq.com</a></span></h4>
                    <h4><span id="contact"><i class="fa fa-mobile-phone"></i>&nbsp;&nbsp;&nbsp;&nbsp;+(880) 191-1629040</span></h4>
                    <h4><span id="contact"><i class="fa fa-mobile-phone"></i>&nbsp;&nbsp;&nbsp;&nbsp;+(880) 168-6264870</span></h4>

                </div>

            </div>
            <span id="contact"> </span></div>


        <!--<script>-->
            <!--// wait for the DOM to be loaded-->
            <!--$(document).ready(function() {-->

                <!--$("#btn_cform").click(function() {-->
                    <!--$(this).html('<i class="fa fa-refresh fa-spin"></i> sending message');-->

                <!--});-->

                <!--var options = {-->
                    <!--//                 target: '#subs_resulta',-->
                    <!--clearForm: true,-->
                    <!--beforeSubmit: function() {-->
                        <!--$("#btn_cform").html('sent');-->
                        <!--$("#subs_resulta").addClass('btn btn-primary').html('Thank you very much for contacting us. We will get back to you as soon as possible');-->

                    <!--},-->
                    <!--success: function() {-->
                        <!--$("#btn_cform").html('send');-->
                        <!--$("#subs_resulta").removeClass('btn btn-primary').html('');-->

                    <!--}-->


                <!--};-->


                <!--$('#subsForma').ajaxForm(options);-->
            <!--});-->
        <!--</script>-->


    </div>
</div>



<!--<script>-->
    <!--$(document).ready(function() {-->
        <!--// This example adds a duration to the tweens so they are synced to the scroll position-->

        <!--var controller = $.superscrollorama();-->

        <!--// amount of scrolling over which the tween takes place (in pixels)-->
        <!--var scrollDuration = 200;-->
        <!--controller.addTween('#portfolio', TweenMax.fromTo($('#portfolio'), .2, {css: {backgroundColor: '#1F1A03'}, immediateRender: true, ease: Quad.easeInOut}, {css: {opacity: 1, backgroundColor: '#D1B113'}, ease: Quad.easeInOut}), 300);-->


        <!--{#controller.addTween('#services_details', TweenMax.fromTo($('#services_detail'), 1, {css: {color: '#fff'}, immediateRender: true, ease: Quad.easeInOut}, {css: {opacity: 1, color: '#ffffff'}, ease: Quad.easeInOut}), 200);#}-->

        <!--controller.addTween('#about_us_header', TweenMax.fromTo($('#about_us_header'), .25, {css: {opacity: 0.8, fontSize: '60px'}, immediateRender: true, ease: Quad.easeInOut}, {css: {opacity: 1, fontSize: '90px'}, ease: Quad.easeInOut}), scrollDuration, false);-->
        <!--controller.addTween('#services_header', TweenMax.fromTo($('#services_header'), .25, {css: {opacity: 0.8, color: '#333333', fontSize: '60px'}, immediateRender: true, ease: Quad.easeInOut}, {css: {opacity: 1, color: '#333333', fontSize: '90px'}, ease: Quad.easeInOut}), scrollDuration, false);-->
        <!--controller.addTween('#contact_us_header', TweenMax.fromTo($('#contact_us_header'), .25, {css: {opacity: 0.8, fontSize: '60px'}, immediateRender: true, ease: Quad.easeInOut}, {css: {opacity: 1, fontSize: '90px'}, ease: Quad.easeInOut}), scrollDuration, false);-->

        <!--$('#portfolio .gallery figure').css('position', 'relative').each(function() {-->
            <!--controller.addTween('#portfolio .gallery', TweenMax.from($(this), 1, {delay: Math.random() * .2, css: {left: Math.random() * 200 - 100, top: Math.random() * 200 - 100, opacity: 0.4}, ease: Back.easeOut}), 300);-->
        <!--});-->

        <!--// individual element tween examples-->
        <!--controller.addTween('#fade-it', TweenMax.from($('#fade-it'), .5, {css: {opacity: 0}}), scrollDuration);-->
        <!--controller.addTween('#fly-it', TweenMax.from($('#fly-it'), .25, {css: {right: '1000px'}, ease: Quad.easeInOut}), scrollDuration);-->
        <!--controller.addTween('#spin-it', TweenMax.from($('#spin-it'), .25, {css: {opacity: 1, rotation: 360}, ease: Quad.easeOut}), scrollDuration);-->
        <!--controller.addTween('#smush-it', TweenMax.fromTo($('#smush-it'), .25, {css: {opacity: 0, 'letter-spacing': '30px'}, immediateRender: true, ease: Quad.easeInOut}, {css: {opacity: 1, 'letter-spacing': '-10px'}, ease: Quad.easeInOut}), scrollDuration); // 100 px offset for better timing-->

    <!--});-->
<!--</script>-->


<!--INSERT DELETED JS-->


<script type="text/javascript" src="assets/js/backstretch.js"></script>

<script type="text/javascript">

    $(document).ready(function() {

        $("#index_welcome").backstretch([
                    "assets/images/5.jpg",
                    "assets/images/1.png"


                ],
                {
                    duration: 6000,
                    fade: 'slow'

                }
        );

    });
</script>


<script type="text/javascript" src="assets/js/greyScale.js"></script>


<!--<script>-->
    <!--$(function() {-->
        <!--// fade in the grayscaled images to avoid visual jump-->
        <!--$('.greyScale').hide().fadeIn(1000);-->
    <!--});-->
    <!--// user window.load to ensure images have been loaded-->
    <!--$(window).load(function() {-->
        <!--$('.greyScale').greyScale({-->
            <!--// call the plugin with non-defult fadeTime (default: 400ms)-->
            <!--fadeTime: 500,-->
            <!--reverse: false-->
        <!--});-->
    <!--});-->
<!--</script>-->
